<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<div>
		<div th:if="${users}" th:each="user :${users}">
			<a th:href="/user/{id}/detail">
				<input type="hidden" th:value="${user.id}">
				<img th:src="${user.images}">
			</a>
		</div>
	</div>

	<div th:if="${posts}" th:each="post :${posts}">
		<img th:src="${post.user.images}">
		<p th:text="${post.user.username}"></p>
		<p th:text="${post.post}"></p>
	</div>
</body>

</html>