<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	
	<h1>Atlas</h1>
	<p>Social Network Service</p>

	<form action="/login" method="post">
		<div>
			<p>AtlasSNSへようこそ</p>
		</div>
		<div>
			<p style="color: red;" th:text="${message}" th:if="${message}"></p>
			<p>メールアドレス</p>
			<input type="text" name="email">
			<p>パスワード</p>
			<input type="password" name="password">
		</div>
		<button>ログイン</button>
	</form>
	<a href="/addAccount">新規ユーザの方はこちら</a>
</body>

</html>