<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div>
		<img th:src="@{/images/content/atlas.png}" style="background-color: black;">
		<p>Social Network Service</p>
	</div>

	<form yh:action="@{/login}" method="post">
		<div>
			<p>AtlasSNSへようこそ</p>
		</div>
		<div>
			<p style="color: red;" th:text="${message}" th:if="${message}"></p>
			<p>メールアドレス</p>
			<input type="text" name="email">
			<p>パスワード</p>
			<input type="password" name="password">
		</div>
		<button>ログイン</button>
	</form>
	<a th:href="@{/user/create}">新規ユーザの方はこちら</a>
</body>

</html>