<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<div>
		<form action="/topPage" method="post">
			<div>
				<image th:src="${user.images}"></image>
			</div>
			<div>

				<textarea placeholder="投稿内容を入力してください"></textarea>
			</div>
			<div>
				<button type="submit">
					<image src="/images/trimmed_airplane_icon.png"></image>
				</button>
			</div>
		</form>
	</div>
	<div>
		<div th:if="${posts}" th:each="post : ${posts}">
			<image name="user_icon" th:src="${post.user.images}"></image>
			<p th:text="${post.post}"></p>
		</div>
	</div>
	<div>
		<p th:text="${@myAccount.name}+さんの"></p>
		<form action="/follow/post" method="get">
			<p>フォロー数</p><p></p>
			<button type="submit">フォローリスト</button>
		</form>
		<form action="/follower/post" method="get">
			<p>フォロワー数</p><p></p>
			<button type="submit">フォロワーリスト</button>
		</form>
		<form action="/user/search" method="get">
		<button type="submit">ユーザー検索</button>
		</form>
	</div>
</body>

</html>