<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div th:replace="header"></div>

	<div>
		<form th:action="@{/user/search}" method="get">
			<input type="text" name="keyword" placeholder="ユーザー名">
			<button><img th:src="@{/images/content/search.png}"></button>
		</form>
		<span>検索ワード:</span><span th:if="${keyword != null}" th:text="${keyword}"></span>
	</div>

	<div th:each="user : ${users}">
		<img th:src="@{'/images/icon/' + ${user.images}}">
		<p th:text="${user.username}"></p>
		<button>
			<span>フォローする</span>
			<span>フォロー解除</span>
		</button>
	</div>

</body>

</html>